body{
background:#f5f6fb;
font-family:Arial,sans-serif;
}

.analytics-wrapper{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
margin-top:30px;
}

.chart-card,
.summary-card{
background:#fff;
border-radius:22px;
padding:25px;
box-shadow:0 8px 25px rgba(0,0,0,.06);
}

.chart-card h2{
font-size:28px;
font-weight:700;
margin-bottom:5px;
}

.chart-card p{
color:#777;
margin-bottom:25px;
}

#walletDonut{
width:100%;
max-width:320px;
margin:auto;
}

.money-row{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 0;
}

.money-row h3{
font-size:28px;
margin:0;
}

.money-row p{
font-size:15px;
color:#777;
margin-top:6px;
}

.money-row h2{
font-size:38px;
font-weight:700;
}

.dot{
width:16px;
height:16px;
border-radius:50%;
display:inline-block;
margin-right:12px;
}

.green{
background:#18c75a;
}

.red{
background:#ff3b30;
}

.money-row div:first-child{
display:flex;
flex-direction:column;
}

.money-row div:first-child .dot{
position:absolute;
margin-left:-28px;
margin-top:12px;
}

.summary-card hr{
border:none;
height:1px;
background:#ececec;
margin:10px 0;
}

.cash-flow{
padding-top:20px;
}

.cash-flow h2{
font-size:34px;
margin-bottom:10px;
}

.cash-flow h1{
font-size:50px;
font-weight:700;
color:#18c75a;
margin-bottom:10px;
}

.cash-flow p{
color:#666;
font-size:15px;
line-height:1.6;
}

@media(max-width:900px){

.analytics-wrapper{

grid-template-columns:1fr;

}

.money-row{

flex-direction:column;
align-items:flex-start;

}

.money-row h2{

margin-top:15px;

font-size:32px;

}

.cash-flow h1{

font-size:40px;

}

}
