.summary-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 0;

border-bottom:1px solid #ececec;

font-size:16px;

}

.summary-item span{

color:#666;

font-weight:600;

}

.summary-item strong{

color:#222;

font-weight:700;

text-align:right;

}

.success-icon{

width:90px;

height:90px;

margin:0 auto 20px;

background:#6d28d9;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:38px;

color:#fff;

}

.continue-btn{
width:100%;
margin-top:25px;
padding:16px;
border:none;
border-radius:12px;
background:#6C2BD9;
color:#fff;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.continue-btn:hover{
background:#5521ad;
}

.cancel-btn{

display:block;

width:100%;

padding:15px;

text-align:center;

background:#f3f3f3;

border-radius:12px;

text-decoration:none;

font-weight:700;

color:#444;

transition:.3s;

}

.cancel-btn:hover{

background:#e5e5e5;

}
