/* ===========================
   TRANSACTION PIN
=========================== */

.pin-section{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.pin-card{
    width:100%;
    max-width:520px;
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.pin-card h2{
    text-align:center;
    color:#222;
    font-size:26px;
    margin-bottom:15px;
}

.amount-title{
    text-align:center;
    color:#777;
    margin-top:15px;
}

.amount{
    text-align:center;
    color:#6C2BD9;
    font-size:36px;
    font-weight:700;
    margin-bottom:30px;
}

.pin-card label{
    display:block;
    margin-bottom:10px;
    color:#444;
    font-weight:600;
}

.pin-card input{
    width:100%;
    padding:16px;
    border:1px solid #ddd;
    border-radius:12px;
    text-align:center;
    font-size:22px;
    letter-spacing:10px;
    outline:none;
    transition:.3s;
}

.pin-card input:focus{
    border-color:#6C2BD9;
}

.confirm-btn{
    width:100%;
    margin-top:30px;
    padding:16px;
    border:none;
    border-radius:14px;
    background:#6C2BD9;
    color:#fff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.confirm-btn:hover{
    background:#5521ad;
}

.alert{
    padding:14px;
    margin:20px 0;
    border-radius:12px;
    text-align:center;
    font-weight:600;
}

.alert.error{
    background:#ffe5e5;
    color:#d11a2a;
}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

.pin-card{
    padding:25px;
}

.amount{
    font-size:30px;
}

.pin-card input{
    font-size:20px;
    letter-spacing:8px;
}

  }
